<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.bankingproject.testCases.BaseClass"/>
      <class name="com.bankingproject.testCases.LoginTC_01"/>
      <class name="com.bankingproject.testCases.NewCustomer_02"/>
      <class name="com.bankingproject.testCases.NewAccount_TC03"/>
      <class name="com.bankingproject.testCases.Withdrawal_TC04"/>
      <class name="com.bankingproject.testCases.MiniStatement_05"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
